<ion-view view-title="Favoris" ng-controller="FavorisController"><!--creation d'une vue-->
    <ion-content scroll="true"><!-- permet de rendre la  vue non scrollable-->
        <!--Mes Favoris-->

        <!--<ion-item ng-repeat="favori in favorits">-->
         <!--{{favori.titre}}-->
        <!--</ion-item>-->

        <!--<ion-item ng-repeat="favori in favorits">-->
        <!--{{favori.titre}}-->
        <!--</ion-item>-->



        <section class="page">

            <div class="bg-list bg-fav">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"
                   ui-sref="sucre">
                </a>
                <h1 class="text-center"> MES FAVORIS </h1>
            </div>


            <!--LISTE DES RECETTES -->


            <ion-list>
                <ion-item ng-repeat="favori in favorits" ng-if="favori.typeRecette != 'sel'">
                    <a ui-sref="sucre-detail" ng-click="single(single)">
                       <h2>{{favori.titre}}</h2>
                    </a>

                    <button type="submit" ng-click="delFav(favori)" class="button-light button-clear ion-ios-heart pull-right" ng-style="delFavoris"></button>

                    <br>

                    </div>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item class="item-sel-fav" ng-repeat="favori in favorits" ng-if="favori.typeRecette == 'sel'">
                    <a ui-sref="sel-detail" ng-click="single(single)">
                       <h2>{{favori.titre}}</h2>

                       <button type="submit" ng-click="delFav(favori)" class="button-light button-clear ion-ios-heart pull-right" ng-style="delFavoris"></button>
                    </a>
                </div>
                </ion-item>
            </ion-list>

        </section>

        <div ng-include src="'templates/nav.html'"></div>
    </ion-content>
</ion-view>