<ion-view view-title="homepage" >
  <ion-content scroll="false">

    <div class="row page_home">

            <div class="col col-50 img_sucre">
                <a ui-sref="sucre">
                    <div class="etiquette_sucre">
                      <h2>sucré</h2>
                    </div>
                </a>
            </div>

      <h1> swalty </h1>
      <h3> faites votre choix </h3>

          <div class="col col-50 img_sale">
              <a ui-sref="sel">
                <div class="etiquette_sale">
                  <h2>salé</h2>
                </div>
              </a>
          </div>

    </div>

  </ion-content>
</ion-view>
