<ion-view view-title="auth">

    <ion-header-bar class="top">
        <h1 class="title">Email</h1>
    </ion-header-bar>

    <ion-content>


        <div ng-controller="AuthController">


            <form ng-submit="addUser()">

                <div class="list">
                    <label class="item item-input">
                        <input type="text" ng-model="pseudo" placeholder="Votre pseudo">
                    </label>
                    <label class="item item-input">
                        <input type="text" ng-model="email" placeholder="Votre addresse email">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="mdp" placeholder="Votre mot de passe">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="mdpConf"  placeholder="Confirmation de mot de passe">
                    </label>
                </div>

                <button class="button button-small button-assertive" type="submit">
                    INSCRIPTION
                </button>

            </form>
        </div>


    </ion-content>
</ion-view>
