

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <div class="taille buttons">
        <a class="nav-icon button-icon ion-ios-home-outline" nav-direction="forward"  href="#/homepage"></a>
    </div>
    <div class="taille buttons">
        <a class="nav-icon nav-sucre icon ion-ios-color-wand-outline" nav-direction="forward" href="#/sucre"></a>
    </div>

    <div class="taille buttons">
        <a class="nav-icon icon ion-ios-heart-outline" nav-direction="forward" href="#favoris"></a>
    </div>
    <div class="taille buttons">
        <a class="nav-icon icon ion-ios-person-outline" nav-direction="forward" href="#/user"></a>
    </div>
</ion-tabs>