


<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <div class="buttons">
    <a class="nav-icon button-icon ion-ios-home-outline" nav-direction="forward"  href="#/homepage"></a>
  </div>

  <div class="buttons">
    <a class="nav-icon ion-ios-nutrition-outline" nav-direction="forward" href="#/sel"></a>
  </div>
  <div class="buttons">
    <a class="nav-icon icon ion-ios-heart-outline" nav-direction="forward" href="#favoris"></a>
  </div>
  <div class="buttons">
    <a class="nav-icon icon ion-ios-person-outline" nav-direction="forward" href="#/register"></a>
  </div>
  </ion-tabs>