<ion-view view-title="Sel"><!--creation d'une vue-->
    <ion-content scroll="false">

        <section class="page-sale">
            <!-- DIV SUCRE -->

            <div class="bg-empty-sel">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"
                   ui-sref="homepage">
                </a>
                <h1 class="text-center">salé</h1>

            </div>


            <!-- CATEGORIES -->
            <div class="categories">
                <div class="row row-top ligne">
                    <div class="col col-50">
                        <a ui-sref="gaufre-sel">
                            <div class="bg-categ-sel gaufres-sel">
                                <h2 class="text-center">GAUFRES</h2>
                            </div>
                        </a>
                    </div>

                    <div class="col col-50">
                        <a ui-sref="muffin-sel">
                            <div class="bg-categ-sel muffins-sel">
                                <h2 class="text-center">MUFFINS</h2>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row row-center ligne">
                    <div class="col col-50">
                        <a ui-sref="cookie-sel">
                            <div class="bg-categ-sel cookies-sel">
                                <h2 class="text-center">COOKIE</h2>
                            </div>
                        </a>
                    </div>

                    <div class="col col-50">
                        <a ui-sref="cake-sel">
                            <div class="bg-categ-sel cake-sel">
                                <h2 class="text-center">CAKE</h2>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row row-bottom">
                    <div class="col col-50">
                        <a ui-sref="crepe-sel">
                            <div class="bg-categ-sel crepes-sel">
                                <h2 class="text-center">CREPES</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a ui-sref="event-sel">
                            <div class="bg-categ-sel event-sel">
                                <h2 class="text-center">EVENT</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div ng-include src="'templates/nav-sel.html'"></div>


    </ion-content>
</ion-view>