<ion-view view-title="Ingredients" ng-controller="SingleController"><!--creation d'une vue-->
    <ion-content scroll="false"><!-- permet de rendre la  vue non scrollable-->
        <!-- BACKGROUND GAUFRE -->

        <section class="page-ingre">

            <div class="bg-ingre ingre">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ng-click="backView()">
                </a>
                <h2 class="text-center">{{single.titre}}</h2>
            </div>

            <div class="row resume" >
                <div class="col col-30 col-offset-10">

                    <button type="submit" ng-click="isFav(recette)" class="button-light button-clear ion-ios-heart-outline pull-right" ng-style="Favoris"></button>

                    <!--<button type="submit" ng-click="delFav(recette)" class="button-light button-clear ion-ios-heart pull-right" ng-style="delFavoris"></button>-->

                </div>
                <div class="col col-20">
                    <p class="text-resume">{{single.nbPersonne}} pers.</p>
                </div>
                <div class="col col-40">
                    <p class="text-resume">{{single.temps}} min de préparation</p>
                </div>
            </div>


            <div class="content">
                    <h3 class="text-center">INGREDIENTS</h3>
                     <div class="ion-ios-arrow-down"></div>
                    <div class="row content">
                        <div class="col-10"></div>
                        <div class="col-80">
                            <ion-item ng-repeat="ingredient in ingredients track by $index" ng-if="ingredient">
                            <div class="row content-detail">
                                <img src="img/tool.png" class="img-responsive tool">
                                <p>{{ingredient}}</p>
                            </div>
                            </ion-item>
                        </div>
                        <div class="col-10"></div>
                    </div>
                <a ui-sref="sucre-etape" class="start"> COMMENCER </a>
            </div>

        </section>
        <div ng-include src="'templates/nav.html'"></div>


    </ion-content>
</ion-view>