<ion-view view-title="Sucre"><!--creation d'une vue-->
    <ion-content scroll="false">

        <section class="page-sucre">
            <!-- DIV SUCRE -->

            <div class="bg-empty">
                <a class="button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ui-sref="homepage">
                </a>
                <h1 class="text-center">sucré</h1>
            </div>

            <!-- CATEGORIES -->
            <div class="categories">
                <div class="row row-top ligne">
                    <div class="col col-50">
                        <a ui-sref="gaufre-sucre">
                            <div class="bg-categ gaufres">
                                    <h3 class= "text-center">GAUFRES</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a ui-sref="muffin-sucre">
                            <div class="bg-categ muffins">
                                     <h3 class = "text-center">MUFFINS</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row row-center ligne">
                    <div class="col col-50">
                        <a ui-sref="cookie-sucre">
                            <div class="bg-categ cookies">
                                    <h3 class="text-center">COOKIES</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a ui-sref="cake-sucre">
                            <div class="bg-categ cake">
                                    <h3 class="text-center">CAKES</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row row-bottom ligne">
                    <div class="col col-50">
                        <a ui-sref="crepe-sucre">
                            <div class="bg-categ crepes">
                                    <h3 class="text-center">CRÊPES</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a ui-sref="event-sucre">
                            <div class="bg-categ event">
                                    <h3 class="text-center">EVENEMENT</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="TabsCtrl">

            <!-- Dashboard Tab -->
            <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/homepage">
                <ion-nav-view name="homepage"></ion-nav-view>
            </ion-tab>


            <!-- Sel Tab -->
            <ion-tab title="Sel" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/sel">
                <ion-nav-view name="sel"></ion-nav-view>
            </ion-tab>

            <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
            <!--<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">-->
            <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
            <!--</ion-tab>-->

            <!-- Account Tab -->
            <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
                <ion-nav-view name="tab-account"></ion-nav-view>
            </ion-tab>


        </ion-tabs>


    </ion-content>
</ion-view>