<ion-view view-title="Ingredients" ng-controller="RecetteController"><!--creation d'une vue-->
    <ion-content scroll="false"><!-- permet de rendre la  vue non scrollable-->
        <!-- BACKGROUND GAUFRE -->

        <section class="page-ingre">

            <div class="bg-ingre ingre">
                <a class="button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ui-sref="gaufre-sucre">
                </a>
                <h2 class="text-center"></h2>
            </div>

            <div class="row resume">
                <div class="col col-30 col-offset-10">
                    <button class="button-light button-clear ion-ios-heart-outline pull-right"></button>

                </div>
                <div class="col col-20">
                    <p class="text-resume">4 pers.</p>
                </div>
                <div class="col col-40">
                    <p class="text-resume">10 min de préparation</p>
                </div>
            </div>

            <div class="content">
                <h3 class="text-center">INGREDIENTS</h3>
                <div class="row content">
                    <div class="col-10"></div>
                    <div class="col-80">
                        <div class="row content-detail">
                            <img src="../img/tool.png" class="img-responsive tool">
                            <p>Sucre</p>
                        </div>
                        <div class="row content-detail">
                            <img src="../img/tool.png" class="img-responsive tool"> <p>4 fraises</p>
                        </div>
                        <div class="row content-detail">
                            <img src="../img/tool.png" class="img-responsive tool"> <p>3 oeufs</p>
                        </div>
                        <div class="row content-detail">
                            <img src="../img/tool.png" class="img-responsive tool"> <p>670 grammes de farine blanche</p>
                        </div>
                    </div>
                    <div class="col-10"></div>

                </div>


                <a href="" class="start"> COMMENCER </a>
            </div>

        </section>
    </ion-content>
</ion-view>