<ion-view view-title="Sucre"><!--creation d'une vue-->
    <ion-content scroll="false">

        <section class="page-sucre">
            <!-- DIV SUCRE -->

            <div class="bg-empty">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"
                   nav-direction="back" ui-sref="homepage">
                </a>
                <h1 class="text-center">sucré</h1>
            </div>

            <!-- CATEGORIES -->
            <div class="categories">
                <div class="row row-top ligne">
                    <div class="col col-50">
                        <a ui-sref="gaufre-sucre">
                            <div class="bg-categ gaufres">
                                    <h3 class= "text-center">GAUFRES</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a ui-sref="muffin-sucre">
                            <div class="bg-categ muffins">
                                     <h3 class = "text-center">MUFFINS</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row row-center ligne">
                    <div class="col col-50">
                        <a ui-sref="cookie-sucre">
                            <div class="bg-categ cookies">
                                    <h3 class="text-center">COOKIES</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a ui-sref="cake-sucre">
                            <div class="bg-categ cake">
                                    <h3 class="text-center">CAKES</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row row-bottom ligne">
                    <div class="col col-50">
                        <a ui-sref="crepe-sucre">
                            <div class="bg-categ crepes">
                                    <h3 class="text-center">CRÊPES</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col col-50">
                        <a ui-sref="event-sucre">
                            <div class="bg-categ event">
                                    <h3 class="text-center">EVENEMENT</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>

        <div ng-include src="'templates/nav.html'"></div>



    </ion-content>
</ion-view>