<ion-view view-title="Account">
    <ion-content scroll="false">

        <div class="page-profil" ng-controller="ProfilController">

            <a ui-sref="homepage" nav-direction="back" class="boutonRetourProfil button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"></a>

            <div ng-show="authData">

                <img ng-if="auth" src="{{ authData.facebook.profileImageURL }}" class="profil-photo">

                <h1> {{ authData.facebook.displayName }} </h1>
                <h2 ng-controller="FavorisController">  {{titre}}</h2>

                <div class="list form-profil">
                    <!--<label class="item item-input" ui-sref="profil-titre">-->
                        <!--<p> MES TITRES  </p>-->
                    <!--</label>-->
                    <a ui-sref="favoris"><label class="item item-input">
                        <p> MES FAVORIS </p>
                    </label></a>
                    <h2 ng-controller="FavorisController"> Score sel : {{utili.sel}}</h2>
                    <h2 ng-controller="FavorisController">  Score sucre :  {{utili.sucre}}</h2>
                    <!--<label class="item item-input">-->
                        <!--<p> PARAMETRES DE NOTIFICATIONS </p>-->
                    <!--</label>-->
                </div>

                <!--<button class="btn-note" ng-click="auth.$unauth()"> Noter l'application </button>-->
                <button class="btn-logout" ng-click="auth.$unauth()" ui-sref="prehome"> Déconnexion </button>
            </div>

        </div>

    </ion-content>
</ion-view>
