<ion-view view-title="Cake | Salé"><!--creation d'une vue-->
    <ion-content scroll="true"><!-- permet de rendre la  vue non scrollable-->
        <!-- BACKGROUND GAUFRE -->

        <section class="page">

            <div class="bg-list bg-crepe-sel">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ui-sref="sel">
                </a>
                <h1 class="text-center"> CAKE </h1>
            </div>


            <!--LISTE DES RECETTES -->


            <ion-list ng-controller="RecetteController">
                <ion-item ng-repeat="recette in recettes" ng-if="recette.categRecette == 'cake' && recette.typeRecette == 'sel'">
                    <a class="item item-thumbnail-left item-sel" ui-sref="sel-detail" ng-click="single(single)">
                        <img src="img/gaufre-sucre.jpg">
                        <h2>{{recette.titre}}</h2>
                        <p>Durée : {{recette.temps}} minutes</p>
                        <p> Pour  : {{recette.nbPersonne}} personnes</p>
                        <p>Difficulté : {{recette.difficulte}}</p>
                    </a>
                </ion-item>
            </ion-list>


            <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="TabsCtrl">
                <!-- Dashboard Tab -->
                <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="homepage">
                    <ion-nav-view name="tab-homepage"></ion-nav-view>
                </ion-tab>

                <!-- Sucre Tab -->
                <ion-tab title="Sucre" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="sucre">
                    <ion-nav-view name="tab-sucre"></ion-nav-view>
                </ion-tab>


            </ion-tabs>

        </section>
    </ion-content>
</ion-view>