<ion-view view-title="Cake | Salé"><!--creation d'une vue-->
    <ion-content scroll="true"><!-- permet de rendre la  vue non scrollable-->
        <!-- BACKGROUND GAUFRE -->

        <section class="page">

            <div class="bg-list bg-crepe-sel">
                <a class="button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ui-sref="tab.sel">
                </a>
                <h1 class="text-center"> CAKE </h1>
            </div>


            <!--LISTE DES RECETTES -->


            <ion-list ng-controller="RecetteController">
                <ion-item ng-repeat="recette in recettes">
                    <a class="item item-thumbnail-left item-sel" ui-sref="sel-detail" ng-click="single(single)">
                        <img src="img/gaufre-sucre.jpg">
                        <h2>{{recette.titre}}</h2>
                        <p>Durée : {{recette.temps}} minutes</p>
                        <p> Pour  : {{recette.nbPersonne}} personnes</p>
                        <p>Difficulté : {{recette.difficulte}}</p>
                    </a>
                </ion-item>
            </ion-list>




        </section>
    </ion-content>
</ion-view>