<ion-view view-title="Cookie | Salé"><!--creation d'une vue-->
    <ion-content scroll="true"><!-- permet de rendre la  vue non scrollable-->
        <!-- BACKGROUND GAUFRE -->

        <section class="page">

            <div class="bg-list bg-cookie-sel">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left" ui-sref="sel">
                </a>
                <h1 class="text-center"> COOKIE </h1>
            </div>


            <!--LISTE DES RECETTES -->
            <div class="bar bar-header item-input-inset">
                <input type="text" placeholder=" Rechercher une recette" ng-model="search.titre"
                       style="width:100%; padding-left:11px;" />
            </div>

            <ion-list ng-controller="RecetteController">
                <ion-item ng-repeat="recette in recettes" ng-if="recette.categRecette == 'cookie' && recette.typeRecette == 'sel'">
                    <a class="item item-thumbnail-left item-sel" ui-sref="sel-detail" ng-click="single(single)">
                        <img src="img/cookie-sale.jpg">
                        <h2>{{recette.titre}}</h2>
                        <p>Durée : {{recette.temps}} minutes</p>
                        <p> Pour  : {{recette.nbPersonne}} personnes</p>
                        <p>Difficulté : {{recette.difficulte}}</p>
                    </a>
                </ion-item>
            </ion-list>

        </section>
        <div ng-include src="'templates/nav-sel.html'"></div>
    </ion-content>
</ion-view>