<ion-view view-title="Event | Salé">

    <ion-content>
        <section class="page">

            <div class="bg-list bg-gaufre-sucre">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"
                ui-sref="sucre">
                </a>
                <h1 class="text-center"> EVENEMENT </h1>
            </div>

        <ion-list scroll="true" ng-controller="RecetteController" ng-if="recette.categRecette == 'event' && recette.typeRecette == 'sel'">
            <ion-item ng-repeat="recette in recettes">
                <a class="item item-thumbnail-left" href="#">
                    <img src="img/perry.png">
                    <h2>{{recette.titre}}</h2>
                    <p>Durée : {{recette.temps}} minutes</p>
                    <p> Pour  : {{recette.nbPersonne}} personnes</p>
                    <p>Difficulté : {{recette.difficulte}}</p>
                </a>
            </ion-item>
        </ion-list>


       </section>
        <div ng-include src="'templates/nav-sel.html'"></div>
    </ion-content>

</ion-view>

