<ion-view view-title="Event | Salé">

    <ion-content>
        <section class="page">

            <div class="bg-list bg-gaufre-sucre">
                <a class="boutonRetour button icon-left ion-chevron-left button-clear button-ligth ion-ios-arrow-thin-left"
                ui-sref="sel">
                </a>
                <h1 class="text-center"> EVENEMENT </h1>
            </div>

        <ion-list scroll="true" ng-controller="RecetteController" ng-if="recette.categRecette == 'event' && recette.typeRecette == 'sel'">
            <ion-item ng-repeat="recette in recettes">
                <a class="item item-thumbnail-left" href="#">
                    <img src="img/perry.png">
                    <h2>{{recette.titre}}</h2>
                    <p>Durée : {{recette.temps}} minutes</p>
                    <p> Pour  : {{recette.nbPersonne}} personnes</p>
                    <p>Difficulté : {{recette.difficulte}}</p>
                </a>
            </ion-item>
        </ion-list>


            <!--<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="TabsCtrl">-->
                <!--&lt;!&ndash; Dashboard Tab &ndash;&gt;-->
                <!--<ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/homepage">-->
                    <!--<ion-nav-view name="tab-homepage"></ion-nav-view>-->
                <!--</ion-tab>-->

                <!--&lt;!&ndash; Sucre Tab &ndash;&gt;-->
                <!--<ion-tab title="Sucre" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/sucre">-->
                    <!--<ion-nav-view name="tab-sucre"></ion-nav-view>-->
                <!--</ion-tab>-->

                <!--&lt;!&ndash; Sel Tab &ndash;&gt;-->
                <!--<ion-tab title="Sel" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/sel">-->
                    <!--<ion-nav-view name="tab-sel"></ion-nav-view>-->
                <!--</ion-tab>-->

            <!--</ion-tabs>-->

       </section>
    </ion-content>

</ion-view>

